VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69c677c100289b4e8fa3
VITE_APPWRITE_DATABASE_ID=69c678fc000726c5f23b
VITE_APPWRITE_USER_SETTINGS_COLLECTION_ID=user_settings
VITE_APPWRITE_VAULT_SNAPSHOTS_COLLECTION_ID=vault_snapshots
VITE_APPWRITE_SYNC_MANIFESTS_COLLECTION_ID=sync_manifests
VITE_APPWRITE_SNAPSHOTS_BUCKET_ID=snapshots
VITE_APPWRITE_AVATARS_BUCKET_ID=avatars